{% extends "school/base.html" %}
{% load static %}

{% block title %}Список учеников{% endblock %}
{% block content %}
<div class="row">
  <ul>
  {% for student in students %}
    <li>
      <h3><span style="font-weight: bold; font-size: smaller;">{{ student.name }}</span></h3>
      <p>Группа: {{ student.group }}</p>
      <p>Преподаватели:
        {% for teacher in student.teachers.all %}
          {{ teacher.name }} - {{ teacher.subject }},
        {% empty %}
          Нет преподавателей
        {% endfor %}
      </p>
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}